<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" class="ion-padding">
    <span [routerLink]="[ '/', 'authors' ]" routerLinkActive="active">Authors</span>
  </ion-content>
</ion-menu>
<ion-content #pageTop class="ion-page" id="main-content" class="no-scroll">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Quotes and Sayings
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark">
    <ion-slides #slides pager="true" [options]="slideOpts" (ionSlideDidChange)="updateHeight()">
      <ng-container *ngFor="let item of shuffledCollection">
        <ion-slide *ngIf="item.showQuotes">
          <ion-item color="dark" class="author">
            <ion-avatar slot="start" (click)="setOpen(true, item)">
              <img alt="Silhouette of a person's head" src="{{item.img}}" />
            </ion-avatar>
            <ion-label>
              <h2>{{item.author}}</h2>
              <p class="desc">{{item.desc}}</p>
            </ion-label>
          </ion-item>
          <div class="quote-container">
            <p>"{{item.quote}}"</p>
          </div>
        </ion-slide>
      </ng-container>
    </ion-slides>
  </ion-content>
</ion-content>

<ion-modal [initialBreakpoint]="currentAuthor.initialBreakpoint" [isOpen]="isModalOpen"
  (ionModalDidDismiss)="setOpen(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>{{currentAuthor.author}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="dark" class="ion-padding">
      <img class="author-desc-img" src="{{currentAuthor.img}}" alt="">
      <p *ngFor="let paragraph of currentAuthor.info" class="author-info">
        {{paragraph}}
      </p>
    </ion-content>
  </ng-template>
</ion-modal>